* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all var(--transt);
}

:root {
  --salmon: #FE7867;
  --yellow: #FAD400;
  --dark-green: #25564B;
  --blue: #195B6B;
  --ligth-blue: #3EBFFF;
  --light-green: #458C7E;
  --dark-blue: #23303E;
  --dark-gray: #5A636C;
  --lavender: #818498;
  --gray: #A7ABAE;
  --white: #FFFFFF;
  --almost-white: #f0f8ff;

  /* fonts */
  --f-fraunces: 'Fraunces', serif;
  --f-barlow: 'Barlow', sans-serif;

  /* effects */
  --transt: .3s;
}

/* Google Icons Config */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  color: var(--white);
  outline: none;
}


/* General Styles */
h1, h2, h3 {
  font-family: var(--f-fraunces);
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

p, li, a {
  font-family: var(--f-barlow);
}

p {
  font-weight: 600;
  color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

ul {
  list-style: none;
}

img {
  width: 80%;
  object-fit: contain;
}

body {
  background-color: var(--almost-white);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-green {
  background-color: var(--light-green);
}

.bg-white {
  background-color: var(--white);
}

.bg-light-blue {
  background-color: var(--ligth-blue);
}

/* Header Styles  */

.head  {
  background-color: var(--ligth-blue);
  color: var(--white);
  padding: 0 1rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  grid-column: -1 / -2;
  grid-row: -1 / -2;
}

.nav_menu-hide {
  transform: scale(0);
}

.nav__list {
  /* display: none; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1.1rem;
  background-color: var(--white);
  color: var(--dark-blue);
  font-weight: 500;
  align-items: center;
  grid-column: 1 / -1;
  overflow: hidden;
  height: 0;
  position: relative;
}

.h-100px {
  height: 140px;
}


.head__title {
  text-align: center;
  font-size: 2.5rem;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.hero > img {
  max-width: 370px;
}

/* Home Cards */

.main__home {
  max-width: 90rem;
  margin: auto;
}

.card > article {
  aspect-ratio: 1 / 1;
}

.card_img {
  display: grid;
  place-items: center;
}

.card_img > img {
  height: 80%;
}

.card_desc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  background-color: var(--white);
}

.card_desc > a {
  font-family: var(--f-fraunces);
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  z-index: 2;
}

.card_desc > a::after {
  content: "";
  height: .5rem;
  border-radius: 10px;
  width: 110%;
  background-color: var(--salmon);
  position: absolute;
  bottom: 2px;
  z-index: -1;
  opacity: .3;
  transition: all .2s;
}

.card__area {
  text-align: center;
  background-color: var(--lavender);
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 2.5rem 0;
}

.card__area_img {
  border-radius: 10px;
}

.card__area_desc {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.card__area_desc > p {
  color: var(--dark-blue);
}

.card_juices {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#total_juices {
  font-size: 2rem;
}

.homeCords {
  display: grid;
  text-align: center;
  justify-items: center;
}

.homeCords__card {
  display: flex;
  flex-flow: column;
  aspect-ratio: 4 / 3;
  justify-content: center;
  gap: 2rem;
  width: 80%;
}

/* Weather current Card */
.weather {
  background-color: var(--gray);
  padding: 2rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.line {
  height: 2px;
  width: 100%;
  background-color: var(--dark-blue);
}

.weather_current {
  display: flex;
  align-items: center;
}

.weather_current > div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.weather_current_info {

  gap: 1rem;
  text-align: center;
  font-family: var(--f-barlow);
  color: var(--dark-blue);
}

.weather_current_info > p {
  font-size: 3rem;
  font-weight: 400;
  color: var(--dark-blue);
}

.weather_current_info > span {
  font-size: 1.25rem;
}

.weather_current_icon > img {
  width: 60%;
}

.weather_current > div {
  width: 50%;
}

.weather_forecast {
  display: flex;
  font-family: var(--f-barlow);
  font-weight: 500;
  justify-content: space-around;

}

.weather_forecast > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: .5rem;
}

.footer {
  background-color: var(--light-green);
  color: var(--dark-blue);
  display: flex;
  flex-flow: column;
  padding: 3rem;
  gap: 4rem;
  text-align: center;
}

.footer > h2 {
  font-size: 2.1rem;
}

.footer__nav {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  align-items: center;
  font-weight: 500;
  color: var(--dark-green);
}

.social {
  display: flex;
  justify-content: space-around;
}

.footer__nav a {
  color: var(--dark-green);
}

.social a {
  color: var(--dark-green);
}

.last-cnt {
  font-family: var(--f-barlow);
  font-weight: 500;
  color: var(--dark-green);
}

/*------- FRESH PAGE ----------*/

.main-fresh {
  max-width: 900px;
  margin: auto;
  padding: 4rem 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}


.main-fresh > h1 {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

.fresh-form {
  width: 90%;
  margin: auto;
  font-family: var(--f-barlow);
  font-weight: 500;
	display: flex;
	flex-direction: column;
	gap: 3rem;
  padding: 0 0 3rem;
}

.fresh-form input,
.fresh-form textarea {
  line-height: 1.5rem;
  padding: .2rem .4rem;
  border: 1px solid var(--ligth-blue);
  outline: none;
}

.fresh-form input:focus,
.fresh-form textarea:focus {
  border: 1px solid var(--dark-blue);
}

.fresh-form > fieldset {
  border: none;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 2rem 0;
}

.fresh-form textarea {
  resize: none;
}

.fresh-form label {
  display: flex;
  gap: .4rem;
  flex-flow: column;
}

.fresh-form legend {
  font-size: 1.5rem;
  font-family: var(--f-fraunces);
}

.fresh-form select{
	text-transform: none;
	padding: .3rem .5rem;
}

.fresh_hide {
  display: none !important;
}

button[type="submit"],
.return {
  border: none;
  padding: 1rem 0;
  font-weight: 600;
  background-color: var(--yellow);
  color: var(--dark-blue);
  transition: all 0s;
  cursor: pointer;
  font-family: var(--f-barlow);
}

button[type="submit"]:hover,
.return:hover {
  opacity: .75;
}

.answer_sended {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.answer_sended > p {
  padding-bottom: 1rem;
  color: var(--dark-blue);
}

.answer_sended span {
  color: var(--blue);
  padding-left: 1rem;
}

.answer_sended > table {
  border-collapse: collapse;
  font-family: var(--f-barlow);
  font-weight: 600;
  margin: auto;
}

.answer_sended th,
.answer_sended td {
  border: 1px solid var(--gray);
  padding: 1rem 2rem;
}

.load_fresh {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.load_fresh:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--blue) transparent var(--blue) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About Page */

.about {
  max-width: 90rem;
  margin: auto;
  text-align: center;
}

.about > h1 {
  margin: 4rem 0;
}

.about_card,
.about_card_desc {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.about_card {
  padding: 3rem;
  background-color: var(--light-green);
  color: var(--dark-blue);
}

.about_card img {
  width: 100%;
  object-fit: cover;
}

.about_card p {
  color: var(--dark-blue);
  text-align: justify;
}

.about_contact {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 3rem;
  background-color: var(--white);
}

.about_contact_a {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.about_contact_a > p {
  font-weight: 400;
}

.about_map {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  color: var(--blue);
  background-color: var(--yellow);
  padding: 1rem 2rem 3rem;
}

.about_map > iframe {
  max-width: 32rem;
  width: 100%;
  aspect-ratio: 16 / 9;
}