:root {
    font-family:'Open Sans', sans-serif;
}





header {
    display: grid;
    background-color: #007ea7;
    grid-template-columns: 50% 50%;
    max-width: 500px;
    margin:  auto ;
    padding: 15px 25px;
    box-shadow: 10px -1px 60px;
    border-radius: 15px;

}



main {
    max-width: 500px;
    margin:  auto ;
   
}



footer {
    display: grid;
    background-color: #007ea7;
    margin: 50px auto ;
    padding: 15px 0;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px -1px 60px;
    border-radius: 15px;
}



h1, h3 {
    color : white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    text-align: center;
    font-weight: 400;

    text-shadow: 1px 1px 10px;
}

h3 {
    font-weight: lighter;
}


h4 {
    color : yellow;
    font-size: small;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium
}

img.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 1px -1px 10px;
}
